@media screen and (min-width: 1400px) {
	.inner-container {
		max-width: 1370px;
	}
}

@media screen and (max-width: 1400px) {
	.inner-container {
		max-width: 1170px;
	}
}

@media screen and (max-width: 1200px) {
	.inner-container {
		max-width: 970px;
	}	
}

@media screen and (max-width: 766px) {
	.col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
		float: none !important;
		width: 100% !important;
	}

	/* main nav */

	.toggled .main-nav {
		width: auto;
	}

	/* tagline */

	.homepage-tagline {
		padding-top: 300px !important;
	}

	.homepage-tagline .inner-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.homepage-tagline .tagline,
	.homepage-tagline .tag-image {
		width: 100%;
		float: none;
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}

	.homepage-tagline .tagline {
		padding: 4em 0;
	}

	.homepage-tagline .tag-image {
		position: absolute;
		bottom: 0;
		text-align: right;
		opacity: .8;
	}

	.homepage-tagline .tag-image img {
		max-width: 250px;
	}

	.homepage-tagline .tagline li {
		padding: .5em;
		background: rgba(255,255,255,.75);
	}

	/* promo */

	.homepage-promo .wj-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
	.homepage-promo .wj-container > * {
		display: block !important;
		width: 100% !important;
		float: none !important;
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}

	/* section 1 */

	.homepage-section-1 {
		font-size: 1em;
	}
	.homepage-section-1 .wj-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
		-ms-flex-item-align: start;
		    align-self: flex-start;
	}
	.homepage-section-1 .wj-container > div {
		text-align: center;
	}
	.homepage-section-1 .wj-container > div:first-child {
		position: absolute;
		bottom: 0;
		opacity: .4;
	}
	.homepage-section-1 .wj-container > div:last-child {
		padding: 2em 0;
		position: relative;
		z-index: 14;
		background: rgba(255,255,255,.75);
	}
	.homepage-section-1 button {
		margin-right: auto !important;
		margin-left: auto !important;
		display: block;
	}

	/* site footer */

	.footer-logo {
		margin-top: 4em;
		margin-bottom: 2em;
	}
	.footer-plugins {
		text-align: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.footer-plugins .footer-col {
		margin-bottom: 2em;
		width: 100%;
		float: none;
	}
		.footer-plugins .footer-col:last-child {
			margin-bottom: 0;
		}
	.footer-plugins h3,
	.footer-plugins address,
	.footer-plugins ul {
		text-align: center;
	}

}

@media screen and (max-width: 600px) {

	.logo-link .logo {
		max-height: 40px;
	}

	.homepage-tagline {
		padding-top: 200px !important;
	}

	.homepage-tagline .tag-image img {
		max-width: 200px;
	}
}


@media screen and (max-width: 450px) {

	.logo-link .logo {
		max-height: 36px;
	}

	.homepage-tagline {
		padding-top: 100px !important;
	}


}
